<div class="row gx-5">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="applysound(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
      <a (click)="applysound(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
      <a (click)="applysound(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
      <a (click)="applysound(4)" class="list-group-item list-group-item-action" style="background-color: green"></a>
      <a (click)="applysound(5)" class="list-group-item list-group-item-action" style="background-color: teal"></a>
      <a (click)="applysound(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
      <a (click)="applysound(7)" class="list-group-item list-group-item-action" style="background-color: violet;"></a>
    </div>
  </div>
</div>


